@import '_variables';
@import '_mixins';

.main-content {
    grid-area: main;
    grid-template-columns: 1fr 600px 1px;
    grid-template-rows: 1fr;

    overflow-y: auto;
    padding: 1.5em;
}

p {
    font-size: .8rem;
    line-height: 1.75em;
}

span.red-span,
span.red-span-pointer {
    color: var(--red);
    font-weight: bold;
}

span.red-span-pointer {
    cursor: pointer;
}

span.bold-span {
    font-weight: 400;
}

button {
    width: 125px;
    height: 40px;

    background-color: var(--red);
    color: var(--white);

    border: none;
    border-radius: 15px;

    font-family: 'Montserrat', sans-serif;

    letter-spacing: .5px;
    &:hover {
        cursor: pointer;
        color: var(--white);
    }
}

.section-one {
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 5rem;
    &--content {
        @include setFlex();
        flex-direction: column;
    }
    &--description {
        text-align: center;
        
        margin-bottom: 2em;
        padding: 1.25em 0 0 0;

    }
    &--article {
        @include setFlex();
        flex-direction: column;
    }
    img {
        width: 270px;
        height: auto;
    }
}

.section-two {
    @extend .section-one;
    .section-two--article {
        @include setFlex();
        flex-direction: column;
    }
    &--rectangle {
        .square {
            @include setFlex();
            flex-direction: column;
            text-align: center;
            border-bottom: 1px solid var(--black);
            margin-top: 3rem;
            padding-bottom: 1em;
            img {
                height: 150px;
                width: auto;
            }
        }
    }
}

.section-three {
    @extend .section-one;
    &--content {
        @include setFlex();
        flex-direction: column;
        .section-three--description {
            text-align: center;
        }
        img {
            width: 270px;
            height: auto;
        }
    }
}

.section-four {
    @extend .section-one;
    width: 100%;
    &--article {
        width: 100%;
    }
    &--image {
        position: relative;

        @include setFlex();
        flex-direction: column;
        background-color: black;
        color: var(--white);
        
        margin: 3em 0;
        padding: 1em 1.5em 2em 1.5em;
        height: 270px;
        width: 270px;

        border-radius: 50%;
        font-weight: 800;
        border: 5px solid var(--orange);
        &::before {
            position: absolute;
            top:0; left: 0;

            content: '';
            width: 100%;
            height: 100%;
            opacity: .4;
            border-radius: 50%;
        }
        &:first-child::before {
            background: url('../img/usluga1.jpg') center/cover;
        }
        &:nth-child(2)::before {
            background: url('../img/usluga2.jpg') center/cover ;
        }
        &:nth-child(3)::before {
            background: url('../img/usluga3.jpg') center/cover;
        }
        &:last-child::before {
            background: url('../img/usluga4.jpg') center/cover ;
        }
    }
    &--description {
        text-align: center;
    }
}

.section-five {
    @extend .section-one;
    height: 700px;
    &--slider {
        @include setFlex();
        position: relative;

        flex-direction: column;
        width: 100%;
        text-align: center;
        font-size: .9rem;
        q {
            position: absolute;
            top: 15px;
            width: 100%;
            text-align: center;
            margin: 3em 0 1em 0;
            line-height: 1.75;
        }
        cite { 
            position: absolute;
            font-weight: 400;
            top: 25px;
            width: 100%;
            font-size: .9rem;
        }
    }
    &--comment {
        @include setFlex();
    
        flex-direction: column;
        text-align: center;
        font-size: 1.25rem;
        img {
            width: 250px;
            height: auto;
    
            margin-top: 2em;
        }
    }
}

.section-six {
    @extend .section-one;
    margin-top: 15em;
    margin-bottom: 0;
    .form-inputs {
        @include setFlex();
        flex-direction: column;
        
        padding: 2em 0;
        margin-top: 1em;
        input, 
        textarea {
            margin-bottom: 3em;
            width: 90%;
            height: 30px;
            text-align: left;
            border: none;
            border-bottom: 1px solid var(--orange);
            font-family: 'Kanit', sans-serif;
        }
        textarea {
            resize: none;
            border: none;
            height: 3em;
            transition: all .5s ease;
            &::placeholder {
                padding-bottom: 1em;
                border-bottom: 1px solid var(--orange);
            }
            &:focus {
                height: 8em;
            }
        }
    }
}

@media all and (min-width: 425px) {
    img {
        width: 370px;
    }
}

@media all and (min-width: 768px) {
    img {
        width: 500px;
    }
    .section-six {
        .form-inputs {
            input, 
            textarea {
                margin-bottom: 7em;
                width: 40%;
                height: 50px;
            }
        }
    }
}

@media all and (min-width: 1024px) {
    .main-content {
        padding: 0 5em;
    }
    .section-two--rectangle {
        @include setFlex();
        margin-top: 2em;
        .square {
            padding: 2em;
            border-right: 1px solid var(--black);
            border-bottom: none;
            text-align: center;
            margin-top: 1rem;
            p {
                height: 100px;
            }
            &:last-child {
                border: none;
            }
            h3 {
                font-size: 1rem;
            }
            img {
                height: 100px;
            }
        }
    }
    .section-one,
    .section-two,
    .section-three,
    .section-four,
    .section-five {
        margin-bottom: 10rem;
    }
    .section-one--content {
        flex-direction: row;
        img {
            order: 1;
            width: 400px;
        }
    }
    .section-one--article {
        padding-right: 4em;
    }
    .section-one--description {
        padding: 1.5em;
    }
    .section-three--content {
        flex-direction: row;
        img {
            width: 400px;
        }
        .section-three--description {
            font-size: 1em;
            padding: 0 0 0 5em;
        }
    }
    .section-four--article {
        @include setFlex();
    }
    .section-four--image {
        @include setFlex();
        position: relative;

        margin-right: 1.75em;
        width: 100%;
        box-shadow: 0px 0px 1px rgba(0, 0, 0, 1);
    }
    .section-five {
        height: 450px;
        img {
            width: 350px;
        }
        &--slider {
            font-size: 1.45rem;
            cite {
                font-size: 1.15rem;
            }
        }
    }
}

@media all and (min-width: 1200px) {
    body {
        font-size: 20px;
    }
    p {
        font-size: 1rem;
    }
    .section-one--description {
        padding: 2em;
    }
}

@media all and (min-width: 1440px) {
    .section-one--description {
        padding: 1em 6em;
    }
}

@media all and (min-width: 1700px) {
    body {
        font-size: 24px;
    }
    p {
        font-size: 1.15rem;
    }
}
