* {
  --yellow: #e0d678;
  --white: #fff;
  --black: #1c1c1c;
  --red: #DA2F20;
  --orange: #F1A139;
  --pink: #E58C8A;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  height: 5rem;
  padding: 0 1.5em;
}

.header.active {
  padding: 1em;
  background-color: var(--orange);
}

.header.active .header-logo .header--img {
  height: 30px;
}

.header-logo {
  z-index: 999;
}

.header-logo:hover {
  -webkit-animation: shake .75s ease;
          animation: shake .75s ease;
}

.header-logo--img {
  -o-object-fit: cover;
     object-fit: cover;
  width: auto;
  height: 50px;
  padding-top: .5em;
}

.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
  width: 80px;
  height: 100%;
  z-index: 999;
}

.header-menu--burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: inherit;
  width: inherit;
}

.header-menu--burger--bar {
  -webkit-transition: opacity .5s ease;
  transition: opacity .5s ease;
  display: block;
  position: relative;
  background-color: var(--red);
  height: 4px;
  width: 30px;
}

.header-menu--burger::after, .header-menu--burger::before {
  position: absolute;
  top: 46px;
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
  content: '';
  height: 4px;
  width: 30px;
  background-color: var(--red);
}

.header-menu--burger::before {
  top: 30px;
}

.header-menu--burger.active .header-menu--burger--bar {
  opacity: 0;
}

.header-menu--burger.active::after, .header-menu--burger.active::before {
  top: 36px;
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
}

.header-menu--burger.active::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header-menu--burger.active::before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header-menu:hover {
  cursor: pointer;
}

.header-menu--nav-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  top: 0;
  right: 0;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  height: 100vh;
  width: 100vw;
  background-color: var(--orange);
  z-index: 998;
}

.header-menu--nav-mobile--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: var(--black);
  list-style-type: none;
  padding: 0;
}

.header-menu--nav-mobile--list li {
  padding-bottom: 5rem;
}

.header-menu--nav-mobile--list li:first-child {
  position: relative;
  color: var(--red);
  padding-top: 5em;
  padding-left: .45em;
}

.header-menu--nav-mobile--list li:hover {
  cursor: pointer;
  color: var(--red);
}

.header-menu--nav-mobile.active {
  opacity: 1;
  visibility: visible;
}

.header nav {
  width: 100%;
}

.header-menu--nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
  width: 100%;
  text-align: right;
}

.header-menu--nav--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  padding: 0;
}

.header-menu--nav--list li {
  width: calc(100% / 4);
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  padding-right: 5em;
}

.header-menu--nav--list li:last-child {
  padding: 0;
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  50% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  50% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@media all and (min-width: 1024px) {
  .header {
    padding: 1em 6em;
  }
  .header.active {
    padding: 1em 5em;
  }
  .header-menu--burger {
    display: none;
  }
  .header-menu:hover {
    cursor: default;
  }
  .header-menu--nav-mobile {
    display: none;
  }
  .header-menu {
    width: 500px;
  }
  .header-menu--nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header-menu--nav--list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header-menu--nav li {
    width: auto;
  }
  .header-logo--img {
    height: 70px;
  }
}

* {
  --yellow: #e0d678;
  --white: #fff;
  --black: #1c1c1c;
  --red: #DA2F20;
  --orange: #F1A139;
  --pink: #E58C8A;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: var(--white);
  color: var(--black);
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1.25px;
  font-weight: 300;
  font-size: 16px;
  overflow-x: hidden;
}

.fade-in {
  opacity: 0;
  -webkit-transition: opacity 250ms ease-in;
  transition: opacity 250ms ease-in;
}

.fade-in.appear {
  opacity: 1;
}

.from-left {
  -webkit-transform: translateX(-20%);
          transform: translateX(-20%);
}

.from-rigth {
  -webkit-transform: translateX(20%);
          transform: translateX(20%);
}

.from-left,
.from-right {
  -webkit-transition: opacity 250ms, -webkit-transform 400ms ease-in;
  transition: opacity 250ms, -webkit-transform 400ms ease-in;
  transition: opacity 250ms, transform 400ms ease-in;
  transition: opacity 250ms, transform 400ms ease-in, -webkit-transform 400ms ease-in;
  opacity: 0;
}

.from-left.appear,
.from-right.appear {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

* {
  --yellow: #e0d678;
  --white: #fff;
  --black: #1c1c1c;
  --red: #DA2F20;
  --orange: #F1A139;
  --pink: #E58C8A;
}

a,
a:active,
a:hover,
a:visited,
a:focus {
  position: relative;
  color: var(--black);
  text-decoration: none;
}

a::before,
a:active::before,
a:hover::before,
a:visited::before,
a:focus::before {
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 0.05em;
  background-color: var(--black);
  content: '';
}

a:hover::before, a:focus::before,
a:active:hover::before,
a:active:focus::before,
a:hover:hover::before,
a:hover:focus::before,
a:visited:hover::before,
a:visited:focus::before,
a:focus:hover::before,
a:focus:focus::before {
  width: 100%;
  -webkit-transition: width .3s ease-in;
  transition: width .3s ease-in;
}

a.red {
  color: var(--red);
}

a.wout-under::before {
  position: relative;
}

.wrapper {
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto 1fr;
      grid-template-rows: auto 1fr;
      grid-template-areas: 'header' 'main';
}

@media all and (min-width: 1024px) {
  ::-webkit-scrollbar {
    width: 1em;
  }
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
  ::-webkit-scrollbar-thumb {
    background-color: var(--orange);
  }
}

* {
  --yellow: #e0d678;
  --white: #fff;
  --black: #1c1c1c;
  --red: #DA2F20;
  --orange: #F1A139;
  --pink: #E58C8A;
}

.main-content {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: main;
  -ms-grid-columns: 1fr 600px 1px;
      grid-template-columns: 1fr 600px 1px;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  overflow-y: auto;
  padding: 1.5em;
}

p {
  font-size: .8rem;
  line-height: 1.75em;
}

span.red-span,
span.red-span-pointer {
  color: var(--red);
  font-weight: bold;
}

span.red-span-pointer {
  cursor: pointer;
}

span.bold-span {
  font-weight: 400;
}

button {
  width: 125px;
  height: 40px;
  background-color: var(--red);
  color: var(--white);
  border: none;
  border-radius: 15px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: .5px;
}

button:hover {
  cursor: pointer;
  color: var(--white);
}

.section-one, .section-two, .section-three, .section-four, .section-five, .section-six {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 5rem;
}

.section-one--content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-one--description {
  text-align: center;
  margin-bottom: 2em;
  padding: 1.25em 0 0 0;
}

.section-one--article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-one img, .section-two img, .section-three img, .section-four img, .section-five img, .section-six img {
  width: 270px;
  height: auto;
}

.section-two .section-two--article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-two--rectangle .square {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  border-bottom: 1px solid var(--black);
  margin-top: 3rem;
  padding-bottom: 1em;
}

.section-two--rectangle .square img {
  height: 150px;
  width: auto;
}

.section-three--content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-three--content .section-three--description {
  text-align: center;
}

.section-three--content img {
  width: 270px;
  height: auto;
}

.section-four {
  width: 100%;
}

.section-four--article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.section-four--image {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: black;
  color: var(--white);
  margin: 3em 0;
  padding: 1em 1.5em 2em 1.5em;
  height: 270px;
  width: 270px;
  border-radius: 50%;
  font-weight: 800;
  border: 5px solid var(--orange);
}

.section-four--image::before {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  opacity: .4;
  border-radius: 50%;
}

.section-four--image:first-child::before {
  background: url("../img/usluga1.jpg") center/cover;
}

.section-four--image:nth-child(2)::before {
  background: url("../img/usluga2.jpg") center/cover;
}

.section-four--image:nth-child(3)::before {
  background: url("../img/usluga3.jpg") center/cover;
}

.section-four--image:last-child::before {
  background: url("../img/usluga4.jpg") center/cover;
}

.section-four--description {
  text-align: center;
}

.section-five {
  height: 700px;
}

.section-five--slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  text-align: center;
  font-size: .9rem;
}

.section-five--slider q {
  position: absolute;
  top: 15px;
  width: 100%;
  text-align: center;
  margin: 3em 0 1em 0;
  line-height: 1.75;
}

.section-five--slider cite {
  position: absolute;
  font-weight: 400;
  top: 25px;
  width: 100%;
  font-size: .9rem;
}

.section-five--comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  font-size: 1.25rem;
}

.section-five--comment img {
  width: 250px;
  height: auto;
  margin-top: 2em;
}

.section-six {
  margin-top: 15em;
  margin-bottom: 0;
}

.section-six .form-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2em 0;
  margin-top: 1em;
}

.section-six .form-inputs input,
.section-six .form-inputs textarea {
  margin-bottom: 3em;
  width: 90%;
  height: 30px;
  text-align: left;
  border: none;
  border-bottom: 1px solid var(--orange);
  font-family: 'Kanit', sans-serif;
}

.section-six .form-inputs textarea {
  resize: none;
  border: none;
  height: 3em;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.section-six .form-inputs textarea::-webkit-input-placeholder {
  padding-bottom: 1em;
  border-bottom: 1px solid var(--orange);
}

.section-six .form-inputs textarea:-ms-input-placeholder {
  padding-bottom: 1em;
  border-bottom: 1px solid var(--orange);
}

.section-six .form-inputs textarea::-ms-input-placeholder {
  padding-bottom: 1em;
  border-bottom: 1px solid var(--orange);
}

.section-six .form-inputs textarea::placeholder {
  padding-bottom: 1em;
  border-bottom: 1px solid var(--orange);
}

.section-six .form-inputs textarea:focus {
  height: 8em;
}

@media all and (min-width: 425px) {
  img {
    width: 370px;
  }
}

@media all and (min-width: 768px) {
  img {
    width: 500px;
  }
  .section-four--article {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .section-four--image {
    min-width: 300px;
    min-height: 300px;
  }
  .section-six .form-inputs input,
  .section-six .form-inputs textarea {
    margin-bottom: 7em;
    width: 40%;
    height: 50px;
  }
}

@media all and (min-width: 1024px) {
  .main-content {
    padding: 0 5em;
  }
  .section-two--rectangle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 2em;
  }
  .section-two--rectangle .square {
    padding: 2em;
    border-right: 1px solid var(--black);
    border-bottom: none;
    text-align: center;
    margin-top: 1rem;
  }
  .section-two--rectangle .square p {
    height: 100px;
  }
  .section-two--rectangle .square:last-child {
    border: none;
  }
  .section-two--rectangle .square h3 {
    font-size: 1rem;
  }
  .section-two--rectangle .square img {
    height: 100px;
  }
  .section-one, .section-two, .section-three, .section-four, .section-five, .section-six,
  .section-two,
  .section-three,
  .section-four,
  .section-five {
    margin-bottom: 10rem;
  }
  .section-one--content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .section-one--content img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 400px;
  }
  .section-one--article {
    padding-right: 4em;
  }
  .section-one--description {
    padding: 1.5em;
  }
  .section-three--content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .section-three--content img {
    width: 400px;
  }
  .section-three--content .section-three--description {
    font-size: 1em;
    padding: 0 0 0 5em;
  }
  .section-five {
    height: 450px;
  }
  .section-five img {
    width: 350px;
  }
  .section-five--slider {
    font-size: 1.15rem;
  }
  .section-five--slider cite {
    font-size: 1rem;
  }
}

@media all and (min-width: 1200px) {
  p {
    font-size: 1rem;
  }
  .section-one--description {
    padding: 2em;
  }
}

@media all and (min-width: 1440px) {
  .section-one--description {
    padding: 1em 6em;
  }
}

@media all and (min-width: 1700px) {
  body {
    font-size: 24px;
  }
  p {
    font-size: 1.15rem;
  }
}

* {
  --yellow: #e0d678;
  --white: #fff;
  --black: #1c1c1c;
  --red: #DA2F20;
  --orange: #F1A139;
  --pink: #E58C8A;
}

h1 {
  font-size: 1.75rem;
  text-align: center;
  color: var(--red);
  font-weight: bold;
  padding: 0;
  margin-bottom: 0;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  color: var(--red);
  text-align: center;
}

h3 {
  color: var(--black);
  font-size: 1.25rem;
}

@media all and (min-width: 425px) {
  h1 {
    font-size: 2.5rem;
  }
}

@media all and (min-width: 768px) {
  h1 {
    font-size: 3.25rem;
  }
}

@media all and (min-width: 1024px) {
  h1 {
    font-size: 2.5rem;
  }
  h3 {
    text-shadow: 0px 0px 1.5px var(--white);
  }
}

@media all and (min-width: 1440px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.5rem;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 50px;
  width: 100%;
  padding: 0 0 1em 0;
  text-align: center;
}

.footer p {
  font-size: .75rem;
  margin: 0;
}

@media all and (min-width: 1024px) {
  .footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
/*# sourceMappingURL=styles.css.map */